<% title "Narzędzia administracyjne" %>
<% navi_path link_to("Narzędzia administracyjne", admin_path), link_to("Użytkownicy", admin_users_path), link_to(@user.name, admin_user_path(@user)), "Usuń" %>
<div id="divAdmin">
  <div class="page_header">
    <h1>Narzędzia administracyjne, użytkownicy: <%= @user.name %></h1>
    <hr />
  </div>
  <div>
    <%= form_for(@profile_remove, :url => admin_user_path(@user), :method => :delete) do |f| %>
      <%= render "layouts/form_errors", :errors => @profile_remove.errors if @profile_remove.errors.any? %>
      <div class="field">
        <%= f.check_box :remove_pubs_owned, (params[:user_self_remove_form] ? {} : {:checked => true}) %> <%= f.label :remove_pubs_owned, "Wraz z usunięciem Konta usuń wszystkie umieszczone w serwisie publikacje, do których użytkownik posiada prawa autorskie." %>
      </div>
      <div class="field">
        <%= f.check_box :remove_personal_data %> <%= f.label :remove_personal_data, "Usuń wszystkie dane osobowe użytkownika z bazy." %>
        <p class="form_hint"> Domyślnie nie usuwaj danych osobowych, chyba, że użytkownik wyraźnie o to prosi. Zanim zdecydujesz się usunąć dane
          osobowe, upewnij się, że nie ma żadnych roszczeń w stosunku do tego użytkownika. Dane
          osobowe potrzebne są w przypadku konieczności ujawnienia ich podmiotom uprawnionym.</p>
      </div>
      <div class="field">
        <%= f.label :reason, "Powód usunięcia konta" %><br />
        <p class="form_hint">Wpisz tutaj informację o powodzie usunięcia konta, jeśli konto zostanie usunięte
        na wniosek użytkownika podaj sposób nadejścia wniosku, jeśli wniosek przyszedł kanałem innym niż mail
        użytkownika podany w profilu, podaj tu więcej szczegółów, w szczególności mail z którego nadesłano
        zgłoszenie, podstawę uznania zgłoszenia, etc.</p>
        <%= f.text_area :reason %>
      </div>
      <div class="actions">
        <input type='button' value='Anuluj' />
        <%= f.submit "Usuń" %>
      </div>
    <% end %>
  </div>
</div>
